{{extend 'layout.html'}}


{{block center}}

<div align="center">
<h4>Atendimento automático URA Web</h4>
<h4><i>ForIP</i></h4>	
<br><br><br><br><br>
<img src="{{=URL('ura/static', 'images', 'technologies_linux.png')}}">
<img src="{{=URL('ura/static', 'images', 'technologies_asterisk.png')}}">
<img src="{{=URL('ura/static', 'images', 'technologies_python.png')}}">
<img src="{{=URL('ura/static', 'images', 'technologies_sql.png')}}">
<img src="{{=URL('ura/static', 'images', 'technologies_jquery.png')}}">
<img src="{{=URL('ura/static', 'images', 'technologies_git.png')}}">
</div>



{{end}}